@import "@/styles/mixins.scss";

.product {
  display: flex;
  flex-direction: column;
  max-width: 1568px;
  margin: 40px auto;
  .product__content {
    display: flex;
    gap: 25px;

    @include md-down {
      flex-direction: column;
    }

    .product__images {
      display: flex;
      gap: 10px;

      @include sm-down {
        flex-direction: column;
      }

      .product__image {
        object-fit: cover;

        @include sm-down {
          width: 100%;
        }
      }
    }
    .product__options {
      display: flex;
      flex-direction: column;
      gap: 5px;

      @include sm-down {
        padding: 10px;
      }
      .product__name {
        font-weight: bolder;
        font-size: 1.4rem;
        letter-spacing: -1px;
        text-transform: uppercase;
        letter-spacing: -1px;
      }

      .product__price {
        color: red;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: -1px;
      }

      .product__color {
        .product__color-options {
          display: flex;
          gap: 4px;
        }
      }

      .product__quantity {
        .product__quantity-select {
        }
        .product__quantity-input {
        }
      }
    }
  }
  .product__recommendations {
  }
  .product__reviews {
    .product__reviews-headers {
    }
    .product__reviews-body {
      .product__reviews__filter {
      }
      .product__reviews-items {
        .product__reviews-item {
          .product__reviews-item__header {
          }
          .product__reviews-item__body {
          }
        }
      }
    }
  }
}
