@import "@/styles/mixins.scss";

.shop {
  display: flex;
  gap: 10px;
  max-width: 1568px;
  margin: 20px auto;
  .shop__left-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .shop__left-panel__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .shop__left-panel__list-item {
        opacity: 0.8;
        font-size: x-small;
        transition: all 0.15s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
        a {
        }
      }
    }

    .shop__left-panel__list-2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .shop__left-panel__list-item {
        font-size: x-small;
        transition: all 0.15s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        a {
        }
      }
    }

    .shop__left-panel__list-3 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .shop__left-panel__list-item {
        font-size: x-small;
        transition: all 0.15s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
        a {
        }
      }
    }
  }
  .shop__content {
    .shop__content-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      .shop__content-header__title {
        font-weight: bold;
      }
      .shop__content-header__options {
        option {
        }
      }
    }

    .shop__content-body {
      display: flex;
      gap: 10px;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    .shop__content-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .shop__content-footer__page-btn {
        display: flex;
        gap: 20px;
        .shop__content-footer__arrow {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .shop__content-footer__notes {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: x-small;
        gap: 10px;
      }
    }
  }
}
